<h1><b>Announcements</b></h1>
<% if current_user.admin? %>
  <div class="row">
    <div class="col-xs-12">
      <%= link_to '<i class="fa fa-plus"></i> Add Announcement'.html_safe, new_announcement_path, class: "pull-right" %>
    </div>
  </div>
<% end %>
<%= render_announcements %>