<h1><b>Editing <%= @account_type.title%></b></h1>

<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>

<hr>
<div class="pull-right">
  <%= link_to 'Back', @account_type %>
</div>
