<div class="text-md-center">
  <h1 class="display-1">Terms of Service</h1>

  <p class="lead">
    By using this system, you acknowledge that this facility is granted by the AMS Team which you may avail for as long as it is offered and provided that you continue to be qualified under its terms and conditions.
  </p>

  <p class="lead">
    The AMS Team, upon its discretion and without the need to notify you, reserves the right to suspend and/or terminate your account if willful violations were made under existing rules of the organization.
  </p>

  <p class="lead">
    You commit to observe the highest standards of ethics and bind yourself to the applicable laws of the Republic of the Philippines.
  </p>

  <div class="row">
    <div class="col-md-12">
      <%= simple_form_for(current_user, url: registration_path(current_user), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <h3><b>
            <%= f.input :validated, label: "I agree to the following terms and conditions.", wrapper_html: { class: "checkbox-lg"} %>
          </b></h3>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Continue", class: "btn btn-success btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


