<tr>
  <td><%= activity.created_at.localtime.strftime("%^b-%d-%Y %H:%M")%></td>
  <td><%= activity.owner.name + " (#{activity.ip_address})"%></td>
  <td>Update</td>
  <td>User</td>
  <td><%= link_to activity.trackable.name, activity.trackable %></td>
</tr>