$enable-flex: true;

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "fixedsticky";

.content {  
  padding-top: 20px; 
} 

.sidebar {
  background-color: #091323; 
  height: 100vh;
}

.nav-sidebar {
  padding-top: 15px;
}

.nav-item p {
  color: white;
}

.nav-item b {
  color: white;
}

.fixedsticky { top: 0; }

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: gray;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}