$enable-flex: true;

@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "fixedsticky";

.content {  
  padding-top: 20px; 
} 

.sidebar {
  background-color: #091323; 
  height: 100vh;
}

.nav-sidebar {
  padding-top: 15px;
}

.nav-item p {
  color: white;
}

.nav-item b {
  color: white;
}

.fixedsticky { top: 0; }

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.checkbox-lg div>label>input{
  width:18px; 
  height:18px;
}