<h1><b>Reports</b></h1>

<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h3 class="text-xs-center"><b>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Summary of Accounts
        </a>
      </b></h5>
    </div>

    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
        Summary of accounts description
        <hr>
        <div class="form-inline">
          <%= form_tag sor_reports_path, method: :get, role: "filter" do %>
            <div class="form-group">
              <%= label_tag :at, "Select Account Type:", class: "form-label form-label-small" %>
              <%= select_tag :at, options_from_collection_for_select(AccountType.all, :id, :title), class: "form-control form-control-sm" %>
              <%= button_tag "<i class=\"fa fa-sort\"></i> Submit".html_safe, class: "btn btn-primary btn-sm", type: :submit %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>