<h1><b>New Account for <%= @user.name %></b></h1>

<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>

<hr>
<%= link_to 'Back', user_path(@user), class: "pull-right" %>